.navbar {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background: #ccc;
}

.navbar_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  font-size: 2.8rem;
  list-style-type: none;
  background: #ccc;
}

.navbar_li {
  text-decoration: none;
  color: #212121;
  background: #ccc;
}

.navbar_li:hover {
  color: #006eff;
  transition: 0.5s;
  text-decoration: underline;
}
